.home-page {
    background: url('../../Image/Rectangle1.png');
    background-position: center;
    padding-top: 9%;
    padding-bottom: 9%;
}

.card-deck .card {
    margin-bottom: 15px;
    border-radius: 28px;
    border: 5px solid orange;
}

.card-img-overlay {
    top: 50% !important;
}

.book-now-btn {
    background: #F9A51A;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.svg-inline--fa {
    margin-left: 10px;
}

button:focus {
    outline: none !important;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    font-size: 25px !important;
}

p.card-text {
    font-family: 'Montserrat', sans-serif;
}

