.logo {
    width: 10%;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.menu-btn {
    background: #ffc107;
    border-radius: 5px;
    padding: 8px 20px !important;
    display: block;
}